<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.CourseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.Course">
        <!--@Table t_course-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="typeCode" property="typeCode"/>
        <result column="courseCode" property="courseCode"/>
        <result column="description" property="description"/>
        <result column="picture" property="picture"/>
        <result column="term" property="term"/>
        <result column="createTime" property="createTime"/>
        <result column="createrId" property="createrId"/>
        <result column="learnRequire" property="learnRequire"/>
        <result column="teachProgress" property="teachProgress"/>
        <result column="examSchedule" property="examSchedule"/>
        <result column="schoolId" property="schoolId"/>
        <result column="flag" property="flag"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        typeCode,
        courseCode,
        description,
        picture,
        term,
        createTime,
        createrId,
        learnRequire,
        teachProgress,
        examSchedule,
        schoolId,
        flag,
        enabled
    </sql>
    <resultMap id="CourseInfo" type="com.example.dcloud.pojo.Course" extends="BaseResultMap">
        <result column="type" property="type"/>
        <result column="sname" property="schoolName"/>
        <association property="creater" javaType="com.example.dcloud.pojo.User">
            <id column="uid" property="id"/>
            <result column="uname" property="name"/>
            <result column="rnamezh" property="role.name"/>
        </association>
    </resultMap>
    <select id="getCourses" resultMap="CourseInfo">
        select c.*,
               di.content as type,
               u.id       as uid,
               u.name     as uname,
               r.nameZh   as rnamezh,
               s.name     as sname
        from t_course c
                     left join t_dict_info di on c.typeCode = di.id
                     left join t_user u on c.createrId = u.id
                     left join t_school s on c.schoolId = s.id
                     left join t_role r on r.id = u.roleId
                where 1 = 1
        <if test="null != course.name and '' != course.name">
            and c.name = #{course.name}
        </if>
        <if test="null != course.courseCode and '' != course.typeCode">
            and c.courseCode = #{course.courseCode}
        </if>
        <if test="null != course.schoolId and '' != course.schoolId">
            and c.schoolId = #{course.schoolId}
        </if>
    </select>
</mapper>
