<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.CourseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.Course">
        <!--@Table t_course-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="typeCode" property="typeCode"/>
        <result column="courseCode" property="courseCode"/>
        <result column="className" property="className"/>
        <result column="prcode" property="prcode"/>
        <result column="description" property="description"/>
        <result column="picture" property="picture"/>
        <result column="term" property="term"/>
        <result column="createTime" property="createTime"/>
        <result column="createrId" property="createrId"/>
        <result column="learnRequire" property="learnRequire"/>
        <result column="teachProgress" property="teachProgress"/>
        <result column="examSchedule" property="examSchedule"/>
        <result column="schoolId" property="schoolId"/>
        <result column="flag" property="flag"/>
        <result column="enabled" property="enabled"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        typeCode,
        courseCode,
        className,
        prcode,
        description,
        picture,
        term,
        createTime,
        createrId,
        learnRequire,
        teachProgress,
        examSchedule,
        schoolId,
        flag,
        enabled
    </sql>
    <resultMap id="CourseInfo" type="com.example.dcloud.pojo.Course" extends="BaseResultMap">
        <result column="type" property="type"/>
        <result column="sname" property="schoolName"/>
        <association property="creater" javaType="com.example.dcloud.pojo.User">
            <id column="uid" property="id"/>
            <result column="uname" property="name"/>
            <result column="rnamezh" property="role.name"/>
        </association>
    </resultMap>
    <select id="getCourses" resultMap="CourseInfo">
        select c.*,
               di.content as type,
               u.id       as uid,
               u.name     as uname,
               r.nameZh   as rnamezh,
               s.name     as sname
        from t_course c
                     left join t_dict_info di on c.typeCode = di.id
                     left join t_user u on c.createrId = u.id
                     left join t_school s on c.schoolId = s.id
                     left join t_role r on r.id = u.roleId
                where 1 = 1
        <if test="null != course.name and '' != course.name">
            and c.name like concat('%', #{course.name}, '%')
        </if>
        <if test="null != course.courseCode and '' != course.typeCode">
            and c.courseCode = #{course.courseCode}
        </if>
        <if test="null != course.schoolId and '' != course.schoolId">
            and c.schoolId = #{course.schoolId}
        </if>
    </select>
    <resultMap id="SimpleStudentCourseInfo" type="com.example.dcloud.pojo.Course" extends="BaseResultMap">
        <id column="cid" property="id"/>
        <result column="cname" property="name"/>
        <result column="tname" property="teacherName"/>
        <result column="cterm" property="term"/>
        <result column="clzname" property="className"/>
        <result column="cpic" property="picture"/>
        <result column="ccode" property="courseCode"/>
    </resultMap>
    <select id="getStudentCourse" resultMap="SimpleStudentCourseInfo">
        select cs.cid       as cid,
               c.name       as cname,
               u.name       as tname,
               c.term       as cterm,
               c.className as clzname,
               c.picture as cpic,
               c.courseCode as ccode
        from t_course_student cs
                     left join t_course c on cs.cid = c.id
                     left join t_dict_info di on di.id = c.typeCode
                     left join t_user u on c.createrId = u.id
                where cs.sid = #{sid}
        <if test="null != course.name and '' != course.name">
            and c.name like concat('%', #{course.name}, '%')
        </if>
        <if test="null != course.courseCode and '' != course.courseCode">
            and c.courseCode like concat('%', #{course.courseCode}, '%')
        </if>
    </select>

    <resultMap id="SimpleTeacherCourseInfo" type="com.example.dcloud.pojo.Course" extends="BaseResultMap">
        <id column="cname" property="name"/>
        <result column="cid" property="id"/>
        <result column="tname" property="teacherName"/>
        <result column="ccode" property="courseCode"/>
        <result column="cpic" property="picture"/>
        <result column="clzname" property="className"/>
        <result column="cterm" property="term"/>
    </resultMap>
    <select id="getTeacherCourse" resultMap="SimpleTeacherCourseInfo">
        select c.name       as cname,
               c.id         as cid,
               u.name as tname,
               c.courseCode as ccode,
               c.className  as clzname,
               c.picture as cpic,
               c.term       as cterm
                from t_course c
                left join t_user u on c.createrId = u.id
                where c.createrId = #{tid}
        <if test="null != course.name and '' != course.name">
            and c.name like concat('%', #{course.name}, '%')
        </if>
        <if test="null != course.courseCode and '' != course.courseCode">
            and c.courseCode like concat('%', #{course.courseCode}, '%')
        </if>
    </select>
</mapper>
