<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.DictMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.Dict">
        <!--@Table t_dict-->
        <id column="id" property="id"/>
        <result column="tag" property="tag"/>
        <result column="tagZh" property="tagZh"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        tag,
        tagZh,
        description
    </sql>
    <select id="listDictPage" resultMap="BaseResultMap">
        select d.*
        from t_dict d
                where 1 = 1
        <if test="null != dict.tag and '' != dict.tag">
            and d.tag = #{dict.tag}
        </if>
        <if test="null != dict.tagZh and '' != dict.tagZh">
            and d.tagZh = #{dict.tagZh}
        </if>
    </select>
    <insert id="insertDictAndDictInfo">
        insert into t_dict(tag, tagZh, description)
        values (#{dict.tag}, #{dict.tagZh}, #{dict.description});
                insert into t_dict_info(tag, content, sequence, isDefault)
                VALUES
        <foreach collection="dictInfoList" item="item" separator=",">
            (#{dict.tag}, #{item.content}, #{item.sequence}, #{item.isDefault})
        </foreach>
    </insert>
    <update id="updateDictAndDictInfo">
        <!--    更新字典dict表-->
        update t_dict
        set tagZh=#{dict.tagZh}
        where tag = #{dict.tag};
        <!--        删除原来tag对应的dictInfo-->
        delete
        from t_dict_info
        where tag = #{dict.tag};
        <!--        开始在dictInfo里面插入新的记录-->
        insert into t_dict_info(tag, content, sequence, isDefault)
                VALUES
        <foreach collection="dictInfoList" item="item" separator=",">
            (#{dict.tag}, #{item.content}, #{item.sequence}, #{item.isDefault})
        </foreach>
    </update>
</mapper>
