<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.SchoolMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.School">
        <!--@Table t_school-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="enabled" property="enabled"/>
        <result column="schoolCode" property="schoolCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        enabled,
        schoolCode
    </sql>
    <resultMap id="SchoolInfo" type="com.example.dcloud.pojo.School" extends="BaseResultMap">
        <collection property="departments" ofType="com.example.dcloud.pojo.Department">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
            <result column="dsid" property="schoolId"/>
        </collection>
    </resultMap>
    <select id="getSchools" resultMap="SchoolInfo">
        select s.*,
               d.id       as did,
               d.name     as dname,
               d.schoolId as dsid
        from t_school s
                     left join t_department d on s.id = d.schoolId
                     where s.enabled = true
    </select>
</mapper>
