<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.SchoolMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.School">
        <!--@Table t_school-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="enabled" property="enabled"/>
        <result column="schoolCode" property="schoolCode"/>
        <result column="parentId" property="parentId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name,
        enabled,
        schoolCode,
        parentId
    </sql>
<!--    <resultMap id="SchoolInfo" type="com.example.dcloud.pojo.School" extends="BaseResultMap">-->
<!--        <collection property="departments" ofType="com.example.dcloud.pojo.Department">-->
<!--            <id column="did" property="id"/>-->
<!--            <result column="dname" property="name"/>-->
<!--            <result column="dsid" property="schoolId"/>-->
<!--        </collection>-->
<!--    </resultMap>-->
    <resultMap id="getAllSchoolsWithDepartments" type="com.example.dcloud.pojo.School" extends="BaseResultMap">
        <id column="sid" property="id"/>
        <result column="sname" property="name"/>
        <result column="scode" property="schoolCode"/>
        <collection property="departments" ofType="com.example.dcloud.pojo.School">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
            <result column="dpid" property="parentId"/>

        </collection>
    </resultMap>
    <select id="getSchools" resultMap="getAllSchoolsWithDepartments">
        SELECT
               p.id         as sid,
               p.name       as sname,
               p.schoolCode as scode,

               d.id         as did,
               d.name       as dname,
               d.parentId   as dpid

        FROM
             t_school p left join t_school d on p.id = d.parentId
             where p.parentId = -1

    </select>
</mapper>
