<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.SettingMapper">
    <update id="updateSetting">
        update t_setting_sign
        set signExp=#{settingVo.settingSign.signExp},
            signDistance=#{settingVo.settingSign.signDistance};
                delete
                from t_setting_level;
                insert into t_setting_level(lv, leftBorder, rightBorder)
                values
        <foreach collection="settingVo.settingLevelList" item="item" separator=",">
            (#{item.lv},#{item.leftBorder},#{item.rightBorder})
        </foreach>
    </update>
</mapper>
