<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.SignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.Sign">
        <id column="id" property="id" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="local" property="local" />
        <result column="enabled" property="enabled" />
        <result column="courseId" property="courseId" />
        <result column="code" property="code" />
        <result column="teacherId" property="teacherId" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, startTime, endTime, local, enabled, courseId, code, teacherId, type
    </sql>

</mapper>
