<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.SignRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.pojo.SignRecord">
    <!--@Table t_sign_record-->
        <id column="id" property="id" />
        <result column="teacherId" property="teacherId" />
        <result column="courseId" property="courseId" />
        <result column="studentId" property="studentId" />
        <result column="signTime" property="signTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacherId, courseId, studentId, signTime
    </sql>

</mapper>
